.header{
  background-color: black;
  height: 5vh;
  display: flex;
  align-items: center;
  border-bottom: 2px solid cyan;
}

.logoSide{
  width: 20%;
  height: 100%;
}

.logo{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bannerlogo{
  height: 100%;
  cursor: pointer;
}

.bannerText{
  color: white;
  font-size: 2vh;
  font-family: cursive;

}
