.tableUpload{
  border: 1px solid cyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.reviewTable{
  border: 1px solid cyan;
  padding: 10px;
  margin-top: 10px;
}
